body {
    display: flex;
    justify-content: center;
}

#container {
    max-height: 1000px;
    max-width: 1000px;
    position: relative;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    border: 0.5px solid black;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    flex-basis: 1;
}