body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#container {
    max-height: 960px;
    max-width: 960px;
    position: relative;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid black;
}

.grid-item {
    border: 0.5px solid black;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    flex-basis: 1;
}

button {
    max-height: 20px;
    max-width: 100px;
    align-self: center;
    margin: 30px 0;
}

.buttons {
    align-self: center;
}